.GalleryOverlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease, z-index 0s ease 0.5s;
  display: flex;
  align-items: center;
  &.visible {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s ease;
  }
  .title {
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.637);
    position: absolute;
    top: 83vh;
    text-align: center;
    width: 100%;
    @media (max-width: 767.99px) {
      font-size: 1.2rem;
    }
  }
  .react-swipe-container > div {
    // width: 100% !important;
    margin: 0 !important;
  }
}
