@import './colors';

.Header {
  background-color: $dark;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $gold;
  h1 {
    margin: 0;
  }
  h3 {
    color: $light;
    margin: 0.2rem;
  }
}
