$light: #f0e5d1;
$green: #016450;
$dark: #323f48;
$gold: #b88953;

.Header {
  background-color: $dark;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $gold;
  h3 {
    color: $light;
  }
}
