@import './colors';

.Header {
  background-color: $dark;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $gold;
  h3 {
    color: $light;
  }
}
