@import './colors';

.Tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem 2rem;
  color: $dark;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: -1rem 0 0 0;
    @media (max-width: 767.99px) {
      margin: 0;
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 575.99px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  text-align: center;
  .tag {
    margin: 1rem 0 0 0;
    @media (max-width: 767.99px) {
      margin-top: 0;
    }
  }
  a {
    color: $green;
    &:hover {
      border-bottom: 2px dotted $green;
    }

    // font-weight: 700;
    &.active {
      // color: $green;
      font-weight: 700;
    }
  }
}
