@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300,400,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  a {
    color: teal;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    &:hover {
      border-bottom: 1px dotted teal;
    }
  }
}

.App {
  font-family: 'Roboto', sans-serif;
  h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin-bottom: 0;
    padding: 1rem;
    @media (max-width: 767.99px) {
      font-size: 2rem;
    }
  }
  h2 {
    font-family: 'Roboto Slab', serif;
  }
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
  }
}
