.ProjectDetails {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .ProjectDetails-info {
    padding: 2rem 0;
    .ProjectDetails-description {
      padding: 0 2rem;
      display: inline-block;
      width: calc(50% - 4rem);
      vertical-align: middle;
      @media (max-width: 575.99px) {
        width: 100%;
      }
    }
    .ProjectDetails-links {
      padding: 0 2rem;
      vertical-align: middle;
      font-size: 0.8rem;
      display: inline-block;
      text-align: center;
      list-style-type: none;
      width: calc(50% - 4rem);
              ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
              }
              @media (max-width: 575.99px) {
                width: 100%;
              }
    }
  }
  .ProjectDetails-buttons {
    padding:1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    a {
      padding: 1rem;
      margin: auto 1rem;
      border: 1px dashed teal;
      transition: all 0.3s ease;
      &.ProjectDetails-mainLink {
        @media (max-width: 575.99px) {
          flex-basis: 100%;
        }
      }
      &:hover {
        color: white;
        background-color: teal;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
  .ProjectDetails-images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    img {
      height: 40vh;
      margin: 1rem;
      box-shadow: 1px 3px 4px black;
    }
  }
}
